---
import Layout from '../layouts/Layout.astro';
import Nav from './Nav.astro';
import Hero from './Hero.astro';
import Skills from './Skills.astro';
import Projects from './Projects.astro';
import Featured from './Featured.astro';
import About from './About.astro';
import Contact from './Contact.astro';
import Footer from './Footer.astro';
import { type Lang } from '../i18n/ui';

interface Props {
  lang: Lang;
}
const { lang } = Astro.props;
---

<Layout lang={lang}>
  <Nav lang={lang} />
  <main>
    <Hero lang={lang} />
    <Skills lang={lang} />
    <Projects lang={lang} />
    <Featured lang={lang} />
    <About lang={lang} />
    <Contact lang={lang} />
  </main>
  <Footer lang={lang} />
</Layout>
